﻿@model GiftVotingSystem.ViewModels.GiftPollDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiftPoll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Initiator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftPoll.Initiator.Name)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftPoll.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftPoll.CelebrationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftPoll.CelebrationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftPoll.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftPoll.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftPoll.EndedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftPoll.EndedAt)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                Gift
            </th>
            <th>
                Votes
            </th>
            <th>
                Voted by
            </th>
        </tr>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>
                    @result.GiftName
                </td>
                <td>
                    @result.VotesCount
                </td>
                <td>
                    @String.Join(", ", result.Users);
                </td>
            </tr>
        }
     </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
