﻿@model IEnumerable<GiftVotingSystem.Models.GiftPoll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Initiator
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CelebrationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Initiator.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CelebrationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndedAt)
        </td>
        <td>
            @if (item.EndedAt.Equals(null))
            {
                @Html.ActionLink("Vote", "Vote", new { id = item.Id })
            }

            @Html.ActionLink("Details", "Details", new { id = item.Id })

            @if (item.InitiatorId == ViewBag.currentUserId && item.EndedAt.Equals(null))
            {
                @Html.ActionLink("Stop", "Stop", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
