﻿@model GiftVotingSystem.Models.GiftPoll

@{
    ViewBag.Title = "Stop";
}

<h2>Delete</h2>

<h3>Are you sure you want to stop this gift poll?</h3>
<div>
    <h4>GiftPoll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Initiator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Stop" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
