﻿@model GiftVotingSystem.ViewModels.GiftPollVoteViewModel

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.BirthdayPersonName - @Model.CelebrationDate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @foreach (var gift in Model.GiftList)
            {
                <div class="col-md-10">
                    <label>
                        @Html.RadioButtonFor(model => model.GiftId, gift.Id, gift.Id == Model.GiftId ? new { Checked =  "Checked" } : null) 
                        @gift.Name
                    </label>
                </div>
            }
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.GiftId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send vote" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
